* { 
    margin: 0;
    padding: 0;
    
}
.Cupcake-Paradise {
    background-color: rgb(255, 0, 200);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 px;
    font-size: 24px;
}

.loja-imagem{
    width: 25%;
    }   
    
.loja-div-conteudo{
    width: 35%;
}
.Cupcake-Paradise{
    padding: 24p 0;
}
