* { 
    margin: 0;
    padding: 0;

}
.Cupcake-Paradise {
    background-color: rgb(241, 22, 113);
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px  0;
    
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista{
    display:  inline-block;
    margin: 0 16px;
    font-size: 24px;
}